<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'delayed/web/application' %>
  </head>
  <body>
    <div class="container">
      <% if flash.any? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
