<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'delayed/web/application' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
